.rules {
    background-color: #c7d7ea!important;
}

.output {
    background-color: #b3ffb3!important;
}

th, td {
    padding: 10px;
    text-align: center !important;
}


table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

a[href] {
    border-bottom: 0px !important;
}